http:// {
    redir https://{host}{uri} permanent
}

pocus.health {
    # Prod WebSocket signaling
    handle /ws {
        reverse_proxy backend:8000
    }

    # Prod API endpoints
    handle /api/* {
        reverse_proxy backend:8000
    }

    # Prod static files
    handle {
        root * /srv
        file_server
    }
}

dev.pocus.health {
    # Dev WebSocket signaling
    handle /ws {
        reverse_proxy http://127.0.0.1:8001
    }

    # Dev API endpoints
    handle /api/* {
        reverse_proxy http://127.0.0.1:8001
    }

    # Dev static files
    handle {
        root * /srv
        file_server
    }
}
